ul.desk-nav.hidden-md-down
			li.desk-nav__item
				.desk-nav__item__heading
					i.fa.fa-plus
					span Health
				.desk-nav__dropdown
					.desk-nav__dropdown__container
			li.desk-nav__item
				.desk-nav__item__heading
					i.fa.fa-mobile
					span Phones
			li.desk-nav__item
				.desk-nav__item__heading
					i.fa.fa-battery-full
					span Electronics