.mob-nav{
	height: 100%;
	width: $mob-nav-width;
	//transform: translateX(-$mob-nav-width);
	background-color: $gray-lightest;
	padding: cRem(10);
	position: fixed;
	left: -$mob-nav-width;
	top: cRem(43);
	transition: all .5s;
}

.mob-nav[data-state='active']{
	left: 0;
}