ul.desk-nav--right
			li.desk-nav__item.hidden-md-down
				.desk-nav__item__heading
					i.fa.fa-user
					span Login
				.desk-nav--right__dropdown
					.desk-nav__dropdown__container
						include ../../../account-form/jade/modifiers/account-form--desk
			li.desk-nav__item.hidden-md-down
				.desk-nav__item__heading
					i.fa.fa-search
					span Search
				.desk-nav--right__dropdown
					.desk-nav__dropdown__container
						form.search
							input.search__input(type='text', placeholder='Search')
							span.search__btn-container
								button.search__btn(type='sumbit') 
									i.fa.fa-search
			li.desk-nav__item--link.hidden-md-down
				.desk-nav__item__heading
					i.fa.fa-comment
					span Blog
			li.desk-nav__item
				.desk-nav__item__heading
					i.fa.fa-shopping-cart
					span 1 Item
				.desk-nav--right__dropdown--minicart
					.desk-nav__dropdown__container
						include ../../../minicart/jade/minicart
			li#mob-nav-btn.desk-nav__item.hidden-lg-up
				.desk-nav__item__heading
					i.fa.fa-bars
					span Menu