.account-form--desk
	form.account-form__login
		fieldset.form-group
			input.form-control(type='email', placeholder='Enter email')
		fieldset.form-group
			input.form-control(type='password', placeholder='Enter password')
		button.button Log In
		small.account-form__bottom-text Not a Member? 
			a.account-form__switch(href='#') Register
	form.account-form__register
		fieldset.form-group
			input.form-control(type='text', placeholder='Enter name')
		fieldset.form-group
			input.form-control(type='email', placeholder='Enter last name')
		fieldset.form-group
			input.form-control(type='email', placeholder='Enter email')
		fieldset.form-group
			input.form-control(type='password', placeholder='Enter password')
		button.button Register
		small.account-form__bottom-text Already a Member? 
			a.account-form__switch(href='#') Login